* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --cor-fundo :  #b8f1ff;
  --cor-hover : #141414;
  --cor-fundo-hover : #ffffff;
  --cor-primaria: rgb(255, 255, 255);
}  

.header {
  position: fixed;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-style: solid;
  border-top: none;
  border-right: none;
  border-left: none;
  border-width: 1px;
  border-color: #b4b4b4;
  background-color: white;
  box-shadow: 1px 1px 7px #474747; 
  z-index: 1;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Mukta Mahee", sans-serif;
  background: #F5F5F5;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 140vh;
  overflow-x: hidden;
  color: rgb(255, 255, 255);
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}



main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.podium {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding-top: 4rem;
}

main ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  position: relative;
}

main li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.15rem;
  margin: min(30%, 5rem);
}

main li img {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  padding: 0.1rem;
  border: 0.2rem solid #662E60;
  transition: scale 0.3s;
}

main li img:hover {
  scale: 1.05;
}

main li:nth-child(1) {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  width: 8.5rem;
  height: 8.5rem;
  z-index: 200;
  margin: unset;
}

main li p {
  font-size: 0.9rem;
  font-weight: 700;
  color: black;
}

main li span {
  font-size: 1.5rem;
  color: #439E33;
}

main #crown {
  width: 3rem;
  height: 3rem;
  border: unset;
  padding: unset;

  -webkit-animation: crown-animation 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: crown-animation 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

main .revenue {
  color: #439E33;
  font-size: 1.5rem;
  font-weight: bold;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2.5rem;
}

section span {
  font-size: 1.1rem;
  color: white;
}

section ul {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: min(22rem, 25rem);
  
}

section li {
  display: flex;
  background-color: #3095b5;
  align-items: center;
  justify-content: space-around;
  border-radius: 1rem;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  width: 90%;
  transition: background-color 0.3s;
  margin-left: 40px;
  
}

section li:hover {
  background-color: #468499;
}

section li span:first-child {
  font-size: 1rem;
  font-weight: bold;
  font-size: 1rem;
  
}

section li img {
  display: none;
}

section li p {
  width: 100%;
  text-align:left;
  font-size: 1rem;
  word-break: break-all;
  font-weight: bold;
}

section li span:last-child {
  font-size: 1.25rem;
  font-weight: bold;
  color: whitesmoke;
  width: min(30%, 20rem);
}

/* footer */
footer{
  width: 100%;
  height: 100;
  position: absolute;
  margin-top: 10%;
  left: 0;
}
.doc{
  margin-left: 1%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.doc a{
  margin-left: 5%;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #000;
}

@media (min-width: 600px) {
  section ul {
    width: 100%;

  }

  section li img {
    display: flex;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
  }

  section li p {
    min-width: 20rem;
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #B82323;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #B82323;  /* BARRA DE SCROLLAR*/
  border-radius: 10px;
}


/* Animações */

@-webkit-keyframes crown-animation {
  0% {
    -webkit-transform: rotateY(80deg);
    transform: rotateY(80deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}

@keyframes crown-animation {
  0% {
    -webkit-transform: rotateY(80deg);
    transform: rotateY(80deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}


.todo_ranking{
  width: 50%;
  height: 70%;
  margin-top: 2%;
  background-color: #ffffff;
  border-radius: 2%;
  margin-bottom: 500px;
  
}
.seta{
  margin-left: -920%;
}


