*{
    font-family: Open Sans;
}

:root{
    --cor-fundo :  #b8f1ff;
    --cor-hover : #141414;
    --cor-fundo-hover : #ffffff;
    --cor-primaria: rgb(255, 255, 255);
  }   

*{
  margin: 0;
  padding: 0;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff;
    background-position: top center;
    background-attachment: scroll;
    background-repeat: repeat;
}

a {
    text-decoration: none;
}

.header {
    position: fixed;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    border-width: 1px;
    border-color: #b4b4b4;
    background-color: white;
    box-shadow: 1px 1px 7px #474747; 
    z-index: 1;
}

.menu-container {
    padding-top: 90px;
    display: table;
    height: 40px;
    width: 100%;
    background-color: #ffffff;
  }
.menu-container nav{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
.menu-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
.menu-container li {
    display: inline-block;
  }
  
.menu-container a {
    position: relative;
    display: block;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
  }
.menu-container a:hover{
    text-decoration: none;
  }
  
.menu-container a:before, a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 40px;
    bottom: 0;
    background-color: #fff;
    color: #000;
  }
  
.menu-container a:before {
    left: 0;
  }
.menu-container a:after {
    right: 0;
    background: #439E33;
    opacity: .2;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
.menu-container a:hover:before {
    background: #3095B5;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    opacity: .2;
  }
  
.menu-container a:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
  }
  
  
  
.menu-container ul li {
      display: inline;
      position: relative;
    }
  
.menu-container ul li a {
      position: relative;
      text-decoration: none;
      display: inline-block;
      padding: 10px;
    }
  
.menu-container ul ul{
      display: none;
      position: absolute;
      width: 150px;
      left: 0;
      background-color: #fff;
    }
    
.menu-container ul li:hover ul{
      display: block;
    }
    
.menu-container ul ul li a{
      display: block;
    }

    /* Sub Menu */

.menu-container ul ul{
    display: none;
    position: absolute;
    width: 150px;
    left: 0;
  
  }
  
.menu-container ul li:hover ul{
    display: block;
  }
  
.menu-container ul ul li a{
    display: block;
  }


#significado_5s h1{
    margin: 3% 0% 0% 3%;
    font-size: 90px;
}

#significado_5s{
    margin: 0% 0% 0% 1%;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #439E33;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #9e7c33;  /* BARRA DE SCROLLAR*/
    border-radius: 10px;
  }


.container{
  position: relative;
  width: 300px;
  height: 450px;
  perspective: 1000px;
  background-color: transparent;
  display: flex;
  float: left;
  margin-left: 70px;
  margin-top: 50px;
}

.container:hover .flip{
  transform: rotateY(180deg);
}

.flip{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: .5s;
}

.frente, .tras {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #0000001b;
  backface-visibility: hidden;    
}

.frente{
  background-color: #B82323;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  color: #fff;
}

.tras{
  background-color: #B82323;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  color: #fff;
}

.frente1, .tras1 {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #0000001b;
  backface-visibility: hidden;    
}

.frente1{
  background-color: #439E33;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  color: #fff;
}

.tras1{
  background-color: #439E33;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  color: #fff;
}

.frente2, .tras2 {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #0000001b;
  backface-visibility: hidden;    
}

.frente2{
  background-color: #662E60;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  color: #fff;
}

.tras2{
  background-color: #662E60;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  color: #fff;
}

.frente3, .tras3 {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #0000001b;
  backface-visibility: hidden;    
}

.frente3{
  background-color: #4AA2BE;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  color: #fff;
}

.tras3{
  background-color: #4AA2BE;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  color: #fff;
}

.frente4, .tras4 {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #0000001b;
  backface-visibility: hidden;    
}

.frente4{
  background-color: #C07D19;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  color: #fff;
}

.tras4{
  background-color: #C07D19;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  color: #fff;
}

#beneficios_5s h1{
  margin-left: 61%;
  font-size: 90px;
  margin-top: 32%;
}

#beneficios2_5s h1{
  margin-left: 82.3%;
  font-size: 90px;
}

.circulos{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

footer{
  width: 100%;
  height: 100;
  position: absolute;
  margin-top: 3%;
  left: 0;
}
.doc{
  margin-left: 1%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 5%;
}
.doc a{
  margin-left: 0%;
  text-decoration: none;
  color: #000;
}
.logobosch img{
  display: flex;
  justify-content:end;
  margin-left: 1600%;
  margin-top: 30px;
  width: 100px;
}
